{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <br/>
        <div class="row">
            <div class="col-md-6" align="left">
                <h2>Product Details</h2>
            </div>
            <div class="col-md-6" align="right">
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <br/>
    {% csrf_token %}
        <div class="container">
            {% for i in data %}
            <div>
                <div class="col-md-4">
                    <h5>Product Name : {{i.name}}</h5>
                </div>
                <div class="col-md-4">
                    <h5>Product Quantity : {{i.quantity}}</h5>
                </div>
                <div class="col-md-4">
                    <h5>Product Image: </h5>
                    <img src="{{ i.img.url }}" />
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}